/* The following two blocks prevent the user from attempting to scroll the sidebar area on iPad. */
html {
	position: fixed;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100vw;
	height: 100vh;
}

#changeFont {
	padding-right: 10px; /* Move the font controls away from the scrollbar added by the oddcast wrapper. */
}

#oddcast-wrapper{
	display: table;
	margin: auto;
	background: #f3f3f3;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#oddcast-wrapper > *{
	display: table-cell;
	vertical-align: top;
}

#oddcast-sidebar{
	position: relative;
	border-right: 1px solid #ccc;
	overflow: hidden; /* Prevent main_container from invisibly bleeding over into the survey. */
}

#pagecontainer{
	height: 100vh;
	overflow-x: hidden; /* Required on some surveys to prevent unnecessary play when horizontally scrolling. */
	overflow-y: scroll;
	min-width: 721px; /* After adding the width of the avatar (and borders), this will fill the screen of a landscape ipad. */
	-webkit-overflow-scrolling: touch; /* use kinetic scrolling */
}

body.modal-open #pagecontainer{
    overflow: hidden; /* prevent touches in bootstrap dialogs from scrolling the background on mobile */
	filter: blur(5px); /* obscure fields, important when the timeout dialog is open */
}

#container{
	border-left: none;
}

#oddcast-sidebar{
	min-width: 301px; /* The width must be set on the sidebar too, so that it doesn't collapse if the avatar is hidden. */
}

#oddcast-avatar{
	background: white;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
	width: 300px;
	display: none;
}

#oddcast-avatar ._html5Player,
#oddcast-avatar ._html5Player .character{
	margin-left: -40px;
}

#oddcast-avatar ._html5Player .main_container{
	z-index: 0; /* Make sure the avatar appears below REDCap popups (like required field messages). */
}

#oddcast-avatar .vhsshtml5_button_holder{
	display: none !important; /* Prevent Oddcast's play button from displaying */
}

#oddcast-avatar .button_holder{
	display: none !important;
}

#oddcast-controls{
	z-index: 1; /* Above the avatar */
	position: absolute;
	width: 100%;
	text-align: right;
	padding-right: 7px;
}

#oddcast-controls .fa{
	margin: 5px;
	font-size: 28px;
	color: #ececec;
	text-shadow: 0px 0px 3px black;
	z-index: 1; /* Above the avatar */
	cursor: pointer;
}

#oddcast-controls .fa-play-circle {
	display: none;
}

#oddcast-sidebar .fa-minus-circle,
#oddcast-sidebar .fa-plus-circle{
	left: 8px;
}

#oddcast-minimize-avatar,
#oddcast-maximize-avatar{
	display: none;
	position: absolute;
	top: 7px;
	left: 8px;
	z-index: 2;
}

#oddcast-overlay{
	display: none;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: rgba(239, 239, 239, 0.96);
	top: 0px;
	left: 0px;
	z-index: 1050;
	text-align: center;
	padding-top: 50%;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #4e4e4e;
	font-family: sans-serif !important;
}

.oddcast-character{
	width: 125px;
	margin: 5px 5px;
	display: inline-block;
	border-bottom: 1px solid #f7ebeb;
	cursor: pointer;
}

.oddcast-character:hover{
	width: 135px;
	margin: 0px 0px;
	transition: 200ms all;
}

#oddcast-wrapper .modal{
	display: none;
}

#oddcast-wrapper .modal,
#oddcast-wrapper .modal p{
	font-size: 14px;
	line-height: 1.7;
}

#oddcast-wrapper .modal-dialog {
	margin-top: 15px;
	width: 710px;
}

#oddcast-wrapper .modal-body{
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}

#oddcast-wrapper .modal button{
	margin-top: 10px;
	padding: 3px 10px;
}

#oddcast-wrapper .modal.timeout label{
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#oddcast-wrapper .modal.timeout button:last-child{
	float: right;
}

#oddcast-wrapper #review-mode-footer {
	margin-top: 45px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

#oddcast-wrapper #review-mode-footer button {
	margin-top: 10px;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 13px;
}
